/* Reset Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}



/* General */

body{
    background-color: rgb(88, 88, 88);
}



/* Img Container*/

.container-img{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-img img{
    max-width: 300px;
}



/* Navbar*/

.navbar{
    display: flex;
    padding: 30px;
    background-color: cornflowerblue;
    color: white;
    justify-content: center;
}

.navbar a{
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
}


.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    color: black;
}

/* Home */


.title-box{
    padding: 100px 0;
}


.title{
    font-size: 140px;
    text-align: center;
    color: coral;
}